.Projects {
    background-color: var(--light-blue);
    padding-top: 100px;
    font-size: 1.5em;
    color: var(--black);
    text-align: center;
}

.Projects-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 100px 100px 100px;
}

.Projects-item {
    position: relative;
    overflow: hidden;
    margin: 1em;
}

.Projects-screenshot {
    display: block;
}

.Projects-caption {
    padding: 2em;
    background-color: var(--blue);
}

.Projects-caption-header {
    font-family: var(--ff-ss);
    font-size: 2em;
    color: var(--black);
}

.Projects-caption-desc {
    color: var(--white);
    font-size: .75em;
}

.Projects-link {
    color: var(--black);
    transition: 300ms;
    display: block;
}

.Projects-link:hover {
    color: var(--light-blue);
}