.Projects {
    background-color: var(--light-blue);
    padding-top: 100px;
    font-size: 1.5em;
    color: var(--black);
    text-align: center;
}

.Projects-screenshots-container {
    padding-bottom: 100px;
}

.Projects-item {
    position: relative;
    overflow: hidden;
}

.Projects-caption {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(90, 141, 199, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 2em;
    transition: top ease-in-out 300ms;
}

.Projects-caption:hover {
    top: 0;
}

.Projects-caption-header {
    font-family: var(--ff-ss);
    font-size: 3em;
    color: var(--black);
}

.Projects-caption-desc {
    color: var(--white);
}
/* 
.Projects-caption-link {
    
} */

.Projects-screenshot {
    display: block;
}