.Skills {
    background-color: var(--blue);
    padding: 100px 100px 200px 100px;
    color: white;
    text-align: center;
    position: relative;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
}

.Skills-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Skills-item {
    padding: 20px;
}