.Skills {
    background-color: var(--blue);
    padding: 100px 100px 200px 100px;
    color: white;
    text-align: center;
    position: relative;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
}

.Skills-header {
    font-family: var(--ff-ss);
    font-size: 2em;
    line-height: 3;
}

.Skills-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

li {
    transform: translateY(-10%);
    transition: .4s ease-in-out;
    padding: 20px;
}

li:hover {
    background-color: var(--black);
    transform: translateY(0);
}