.profile {
    height: 35%;
    width: 35%;
    border-radius: 50%;
    margin: 10px;
}

.aboutSection {
    display: flex;
}

.aboutDetails {
    width: 65%;
}

.About {
    display: flex;
    flex-direction: column;
}