.Home-banner {
    background-image: url("./Img/jesus-kiteque-wn-KYaHwcis-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home-name {
    display: block;
    font-size: 5rem;
    color: var(--blue);
    font-family: var(--ff-ss);
    line-height: .5;
    text-transform: uppercase;
}

.Home-subtitle {
    color: var(--black);
}

@media screen and (max-width: 767px) {
    .Home-name {
        display: none;
    }
    
    .Home-banner {
        height: 100vh;
    }
}