.Contact {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 125px;
    color: var(--white);
}

.Contact::before,
.Contact::after {
    content: '';
    display: block;
    height: 1px;
    width: 300px;
    background: linear-gradient(90deg, rgba(41,49,50,1) 0%, rgba(90,141,199,1) 50%, rgba(41,49,50,1) 100%);
    margin: 10px auto;
}

.Contact-container {
    width: 300px;
}

.Contact-link-container {
    display: flex;
    flex-direction: column;
}

.Contact-icons-container {
    display: flex;
    flex-direction: row;
}

.Contact-link {
    border-color: var(--white);
    color: var(--white);
}

.Contact-link:hover,
.Contact-link:focus {
    background-color: var(--blue);
    border-color: var(--blue);
}

.Contact-icon {
    height: 70%;
    width: 70%;
}

a {
    color: white;
    text-decoration: none;
}